//page block includes a navigation and a content block 
.page

  //navigation part
  .page__navigation
  
  //content part
  .page__content
  
    //content block
    .content
      
      h1 Off-Canvas #[span Navigation] Experiments
      
      .submenu
        .submenu__item
         a(href="https://github.com/eisenfox/off-canvas-navigation" title="Check on GitHub" target="_blanc") 
            i(class="material-icons") toc
            | Check on GitHub
        .submenu__item
          a(href="http://100dayscode.co.uk/" title="Check Codepen Challenge" target="_blanc") 
            i(class="material-icons") toc
            | Check Codepen Challenge
            
      //demo buttons
      .demo-btns
      
        h2 Click the button to pick a demo
        
        .demo-btn
          button(type="button") Demo 1
          
        .demo-btn
          button(type="button") Demo 2
          
        .demo-btn
          button(type="button") Demo 3
          
        .demo-btn
          button(type="button") Demo 4
          
        .demo-btn
          button(type="button") Demo 5
      
    
  
    
